---
layout: default
---

{% capture floatcontent %}

{% include portrait.html lookup=page.slug %}

<div>
  {% for link in page.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] %}
    {% include button.html type=key link=value style="bare" %}<br>
  {% endfor %}
</div>

{% endcapture %}

{% include float.html content=floatcontent %}

{{ content }}

{% assign aliases = page.aliases
  | default: page.name
  | default: page.title
  | join: ","
  | split: ","
  | array_filter
%}


{% capture publication_search -%}
  publications/?search={% for alias in aliases %}"{{ alias }}" {% endfor %}
{%- endcapture %}

{% capture news_search -%}
  news/?search={% for alias in aliases %}"{{ alias }}" {% endfor %}
{%- endcapture %}

<p class="center">
  Search for {{ page.name | default: page.title }}’s work in:
  <a href="{{ publication_search | relative_url | uri_escape }}">Publications</a>
  ·
  <a href="{{ news_search | relative_url | uri_escape }}">News</a>
</p>

{% capture search -%}
  publications/?search={{ page.name }}
{%- endcapture %}

<!--
<p class="center">
  <a href="{{ search | relative_url | uri_escape }}">
    See {{ page.name | default: page.title }}'s posts on the Blog page
  </a>
</p>
-->
